.alerta-erro {
    background-color: #FFE5FF;
    font-size: 12px;
}

.alerta-sucesso {
    background-color: #D4EDDA;
    font-size: 12px;
}

.formulario {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.m {
    height: 80%;
}

.foot {
    height: 20%;
}

.table {
    font-size: 1em;
}

.my-link {
    background-color: #67686A;
    color: white;
    padding: 7px 10px;
    text-decoration: none;
    font-weight: bold;
}

.my-link:hover{
    text-decoration: none;
    background-color: #000;
    color: white;
}

h{
    padding-top: 30px;
}
/************** Add Actor *******************/

.margin-input {
    margin-top: 10px;
}

.btn_left{
    margin-left:10px;
}