<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gestao Filmes</title>
    <link rel="stylesheet" th:href="@{/public/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/public/css/style.css}" />
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p style="color:green;text-align: center;padding-top: 30px;">Esse aplicativo web foi desenvolvido no âmbito de consolidar meus conhecimentos no desenvolvimento web e SpringBoot App, A App permite fazer o CRUD de filmes relacionados a actores cadastrados. </p>
            <p style="color: green;">Usuario:user<br>Senha:123456</p>

            <div class="formulario">
                <form th:action="@{/login}" method="post">
                    <div th:if="${param.error}" class="alert alerta-erro">
                        Nome do usuario ou password invalido.
                    </div>
                    <div th:if="${param.logout}" class="alert alerta-sucesso">
                        Saiu do sistema.
                    </div>
                    <div class="form-group">
                        <label for="username">Nome do usuario</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
        </div>

        <div style="padding-top: 50px;" class="col-12 foot">
            <hr>
            <p style="color: #000eff; text-align: center"><b>Francisco Rafael Tamele 2021</b></p>
        </div>
    </div>
</div>
</body>
</html>