<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/public/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/public/css/style.css}"/>
    <script type="text/javascript" th:src="@{/public/js/my_script.js}"></script>
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Filmes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/web/movies}">Inicio <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/web/actors}">Actores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col margin-input">
            <h1>Actualizar Actor</h1>
            <form class="form" th:method="post" th:action="@{/web/actors/form-a}" th:object="${actor}">
                <div class="row">
                    <div class="col-4" hidden>
                        <input type="text" th:value="${id}" class="form-control" th:field="*{id}">
                    </div>
                    <div class="col-12 margin-input">
                        <label for="lblNome">Nome do actor</label>
                    </div>
                    <div class="col-4" >
                        <input type="text" id="lblNome" th:value="${name}" class="form-control" th:field="*{name}">
                    </div>
                    <div class="col-12 margin-input">
                        <button type="submit" class="btn btn-dark mb-2" onclick="return validarActor();">Actualizar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>