<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/public/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/public/css/style.css}"/>
    <script type="text/javascript" th:src="@{/public/js/my_script.js}"></script>
    <title>Gestao filmes</title>
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Filmes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/web/movies}">Inicio <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/web/actors}">Actores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="row">
        <div class="col">
            <form th:action="@{/web/movies/form-a}" th:method="post" th:object="${movie}">

                <div class="row">
                    <div class="col margin-input">
                        <h1>Actualizar dados</h1>
                        <input hidden type="text" th:field="*{id}" th:value="${movie.id}" class="form-control" placeholder="titulo do filme">
                        <input type="text" th:id="lblTitulo" th:field="*{title}" th:value="${movie.title}" class="form-control" id="lblTitulo" placeholder="titulo do filme">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 margin-input">
                        <input type="text" id="lblAno" th:field="*{release_year}" th:value="${movie.release_year}" class="form-control" placeholder="ano lancamento">
                    </div>
                    <div class="col-md-6 col-lg-4 margin-input">
                        <select required id="lblGenero" th:field="*{genero}" class="form-control">
                            <option hidden value="">selecione Genero</option>
                            <option value="" th:value="${gener}" th:text="${gener.value}" th:each="gener:${T(devdojo.springboot2.util.Genero).values()}">G</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-lg-4 margin-input">
                        <div id="actor-input">
                            <select required id="lblActor" th:field="*{actor.id}" class="form-control">
                                <option hidden value="">Selecione o Actor</option>
                                <option value="" th:each="actor:${actors}" th:value="${actor.id}" th:text="${actor.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 margin-input">
                        <button style="font-weight: bold;" type="submit" onclick="return validarFormMovie();" class="btn btn-dark">Actualizar</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>